/* 
0 - 600px    :     Phone
600 - 900px  :    Tablet Portrait
900 - 1200px :    Tablet Landscape
1200 - 1800px:    Where this style applies
1800px +     :    Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER : Base + typograpy > general layout + grid > page layout > componenets
1em = 16px

*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit; }

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  font-weight: 400; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 30%; } }

.section-heading {
  font-size: 12rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000; }

.header {
  z-index: 10;
  display: fixed;
  top: 0; }
  .header-check {
    display: inline-block;
    background-color: black;
    height: 5rem;
    width: 3rem;
    border-radius: 5rem 5rem 2rem 2rem;
    position: fixed;
    top: 2rem;
    left: 3rem;
    transition: top 0.3s;
    z-index: 10;
    cursor: pointer; }
    .header-check::before {
      content: "";
      position: absolute;
      height: 17rem;
      width: 0.2rem;
      bottom: 100%;
      left: calc(1.5rem - 0.1rem);
      background-color: inherit; }
  .header #navbar-check {
    display: none; }
  #navbar-check:checked + .header-check {
    top: 17rem; }

.navbar {
  background-color: black;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 15rem;
  display: fixed;
  z-index: 25;
  top: 0;
  margin-top: -15rem;
  transition: transform 0.3s; }
  .navbar-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: inherit;
    transition: color 0.3s; }
    .navbar-link i {
      font-size: 7rem; }
    .navbar-link span {
      font-size: 2.5rem;
      font-weight: 900;
      letter-spacing: 0.5rem; }
    .navbar-link:hover {
      color: white; }

#navbar-check:checked ~ .navbar {
  transform: translateY(100%); }

.hero {
  background-color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .hero__icons {
    font-size: 35rem;
    position: relative;
    height: 35rem; }
    .hero__icons i {
      position: absolute;
      color: #a79a2d;
      text-shadow: 0.2rem 0.2rem 0.2rem black;
      left: 50%;
      transform: translateX(-50%) scale(0); }
    .hero__icons--active {
      transform: translateX(-50%) scale(1) !important; }

.hero__icons--active {
  transform: translateX(-50%) scale(1); }
