/* 
0 - 600px    :     Phone
600 - 900px  :    Tablet Portrait
900 - 1200px :    Tablet Landscape
1200 - 1800px:    Where this style applies
1800px +     :    Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER : Base + typograpy > general layout + grid > page layout > componenets
1em = 16px

*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit; }

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  font-weight: 400; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 45%; } }

.section-heading {
  font-size: 12rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000; }

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%; }
  .header-check {
    display: inline-block;
    background-color: black;
    height: 5rem;
    width: 3rem;
    border-radius: 5rem 5rem 2rem 2rem;
    position: fixed;
    top: 2rem;
    left: 3rem;
    transition: top 0.3s;
    z-index: 10;
    cursor: pointer; }
    .header-check::before {
      content: "";
      position: absolute;
      height: 17rem;
      width: 0.2rem;
      bottom: 100%;
      left: calc(1.5rem - 0.1rem);
      background-color: inherit; }
  .header #navbar-check {
    display: none; }
  #navbar-check:checked + .header-check {
    top: 17rem; }

.navbar {
  background-color: black;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 15rem;
  display: fixed;
  z-index: 25;
  top: 0;
  margin-top: -15rem;
  transition: transform 0.3s; }
  .navbar-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: inherit;
    transition: color 0.3s; }
    .navbar-link i {
      font-size: 7rem; }
    .navbar-link span {
      font-size: 2.5rem;
      font-weight: 900;
      letter-spacing: 0.5rem; }
    .navbar-link:hover {
      color: white; }

#navbar-check:checked ~ .navbar {
  transform: translateY(100%); }

.hero {
  background-color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .hero__icons {
    font-size: 35rem;
    position: relative;
    height: 35rem; }
    .hero__icons i {
      position: absolute;
      color: #a99d2d;
      text-shadow: 0.2rem 0.2rem 0.2rem black;
      left: 50%;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s; }
    .hero__icons--active {
      transform: translateX(-50%) scale(1) !important;
      transition: transform 0.3s 0.3s !important; }

.section-2 {
  background-color: #222;
  padding: 3rem 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.cards-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5rem;
  padding: 2rem; }

.card {
  background-color: #a99d2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
  padding: 3rem 2rem;
  box-shadow: 3rem 3rem 4rem black;
  transition: all 0.3s; }
  .card-img {
    max-height: 25rem; }
  .card-name {
    text-transform: uppercase;
    color: black;
    font-size: 3rem;
    text-shadow: 0.2rem 0.2rem 0.2rem black;
    font-weight: 700;
    letter-spacing: 2px; }
  .card-btn {
    outline: none;
    border: none;
    background-color: black;
    color: #aaa;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer; }
  .card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1.5rem;
    background-color: #ccbd3e;
    top: 0;
    right: 100%;
    transform: skewY(45deg);
    transform-origin: right; }
  .card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5rem;
    background-color: #ccbd3e;
    left: 0;
    bottom: 100%;
    transform: skewX(45deg);
    transform-origin: bottom; }
  .card:hover {
    transform: translateY(-2rem);
    box-shadow: 4rem 4rem 4rem black; }

.section-3 {
  background-color: #333;
  padding: 10rem 0; }

.gallery {
  margin-top: 10rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  justify-content: center;
  align-items: center; }
  .gallery-link {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative; }
    .gallery-link::before {
      content: "";
      width: 0%;
      height: 0.2rem;
      background-color: white;
      left: 2rem;
      top: 10rem;
      position: absolute;
      transition: width 0.3s;
      z-index: 5; }
    .gallery-link::after {
      content: "";
      width: 0.2rem;
      height: 0%;
      background-color: white;
      left: 80%;
      top: 4rem;
      position: absolute;
      transition: height 0.3s; }
    .gallery-link:hover::before {
      width: 90%; }
    .gallery-link:hover::after {
      height: 80%; }

.food-img {
  width: 45rem;
  height: 30rem;
  object-fit: cover;
  box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946, 0.7rem 0.7rem 0.1rem #297ce9, 0.9rem 0.9rem 0.1rem #e92999;
  transition: all 0.5s; }

.food-name {
  text-transform: uppercase;
  font-size: 2.5rem;
  position: absolute;
  top: 4rem;
  left: 2rem;
  z-index: 5;
  letter-spacing: 0.1rem;
  font-weight: 600;
  width: 0%;
  overflow: hidden;
  transition: width 0.3s; }

.food-description {
  text-transform: uppercase;
  font-size: 1.6rem;
  position: absolute;
  top: 15rem;
  left: 2rem;
  width: 70%;
  opacity: 0;
  transform: translateX(-1rem);
  transition: all 0.3s; }

.gallery-link:hover .food-name {
  width: 100%;
  transition: width 1.5s 0.5s; }

.gallery-link:hover .food-description {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.7s 0.5s; }

.gallery-link:hover .food-img {
  box-shadow: 1rem 1rem 0.1rem #e92929, 2rem 2rem 0.1rem #a2e946, 3rem 3rem 0.1rem #297ce9, 4rem 4rem 0.1rem #e92999;
  transform: scale(1.1);
  filter: blur(0.5rem);
  opacity: 0.5; }

.footer {
  background-color: #222;
  padding: 10rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 5rem; }
  .footer__heading {
    font-size: 3rem;
    font-weight: 900;
    color: #a99d2d;
    letter-spacing: 0.1rem; }
  .footer__paragraph {
    font-size: 1.6rem;
    color: #aaa;
    margin-top: 1rem; }
  .footer__signup-form {
    display: flex;
    align-items: center; }
    .footer__signup-form--input {
      outline: none;
      border: 0.2rem solid #a99d2d;
      color: #a99d2d;
      padding: 0.5rem 1rem;
      font-size: 1.6rem;
      width: 25rem;
      height: 5rem;
      padding-right: 5rem; }
      .footer__signup-form--input::placeholder {
        color: #a99d2d;
        font-weight: 700;
        letter-spacing: 0.1rem; }
    .footer__signup-form--btn {
      outline: none;
      border: none;
      background-color: #222;
      color: #a99d2d;
      font-size: 2rem;
      height: 4rem;
      width: 4rem;
      position: relative;
      left: -4.5rem;
      top: 0rem; }
  .footer__copyright {
    margin-top: 3rem;
    text-align: center;
    flex: 1 1 100%;
    font-size: 1.5rem;
    color: #aaa;
    border-top: 0.2rem solid #aaa;
    padding-top: 4rem; }
