@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: inherit;
}

html {
    font-size: 62.5%; // 1 rem = 10 px; 10px/16px = 62.5
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    // @include respond(tab-land) {
    //    font-size: 56.25%; //1 rem = 9px; 9/16=
    // }
    @include respond(tab-port) {
        font-size: 45%; //1 rem = 8px; 8/16=
    }
    @include respond(phone) {
        font-size: 30%; //1 rem = 8px; 8/16=
    }
    // @include respond(big-desktop) {
    //    font-size: 75%; //1 rem = 12px; 12/16=
    // }
}
