.header {
    &-check {
        display: inline-block;
        background-color: $color-1;
        height: 4rem;
        width: 2rem;
        border-radius: 5rem 5rem 2rem 2rem;
        position: relative;
        top: 2rem;
        transition: top 0.3s;

        &::before {
            content: "";
            position: absolute;

            height: 7rem;
            width: 0.2rem;
            bottom: 100%;
            left: calc(1rem - 0.1rem);
            background-color: inherit;
        }
    }

    #navbar-check:checked + &-check {
        top: 7rem;
    }
}
