.hero {
    background-color: $color-3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // position: relative;

    &__icons {
        font-size: 35rem;
        position: relative;
        height: 35rem;
        i {
            position: absolute;
            color: $color-4;
            text-shadow: 0.2rem 0.2rem 0.2rem $color-1;
            left: 50%;
            transform: translateX(-50%) scale(0);
            transition: transform 0.3s;
        }

        &--active {
            transform: translateX(-50%) scale(1) !important;
            transition: transform 0.3s 0.3s !important;
        }
    }
}
