.section-3 {
    background-color: $color-3;
    padding: 5rem 0;
}

.gallery {
    &-link {
        text-decoration: none;
        color: $color-2;
    }
}

.food {
    &-img {
        width: 24vw;
        height: 15vw;
        object-fit: cover;
    }
    &-name {
        text-transform: uppercase;
        font-size: 2.5rem;
    }
    &-description {
        text-transform: uppercase;
        font-size: 2rem;
    }
}
